<html>
<body>

<!-- <div id='getdata-button'>
  <div>
        <button id="getdata">Get Data</button>
  </div>
  <div>
        <input id="myname" type="text" readonly />
  </div>
</div> -->




<html>
        <head>
            <title> Alex's Page </title>
            <link rel='stylesheet' href='static/home.css'/>
            </head>

        <body>
            <h1 align='center', id='HomeHeader'>Welcome to Mostly Legitimate </h1>

            <p align='center', id='HomeHeader2'> The easy way to see which of your events need further review </p>
            <div id='pingtable-button'>
              <div>
                    <button id="pingtable">Get DATABASE data</button>
              </div>
              <div>
                    <!-- <input id="pingname" type="text" size= "50" readonly /> -->
              </div>
            </div>

            <table align='center'>
                    <thead><tr><th>Event ID</th><th>Event Name</th><th>Risk Factor</th></tr></thead>
                    <tbody>
                    <tr><td><input id="pingid0" type="text" size= "10" readonly /></td><td><input id="pingname0" type="text" size= "50" readonly /></td><td><input id="pingthreat0" type="text" size= "10" readonly /></td></tr>
                    <tr><td><input id="pingid1" type="text" size= "10" readonly /></td><td><input id="pingname1" type="text" size= "50" readonly /></td><td><input id="pingthreat1" type="text" size= "10" readonly /></td></tr>
                    <tr><td><input id="pingid2" type="text" size= "10" readonly /></td><td><input id="pingname2" type="text" size= "50" readonly /></td><td><input id="pingthreat2" type="text" size= "10" readonly /></td></tr>
                    <tr><td><input id="pingid3" type="text" size= "10" readonly /></td><td><input id="pingname3" type="text" size= "50" readonly /></td><td><input id="pingthreat3" type="text" size= "10" readonly /></td></tr>
                    <tr><td><input id="pingid4" type="text" size= "10" readonly /></td><td><input id="pingname4" type="text" size= "50" readonly /></td><td><input id="pingthreat4" type="text" size= "10" readonly /></td></tr>
                    </tbody>
            </table>
        </body>
        </html>


<!-- <script type="text/javascript">
  var number = 123;
</script>

  <h1>
    the value for number is:
    <script type="text/javascript">
      document.write(number)
    </script>
  </h1> -->

<!-- <h2>
  and also the organization name is:
  <script id="getdata" type="text">
    document.write(myname)
  </script>
</h2> -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/db.js"></script>

<!--
For future reference, use
<script>
window.alert(5 + 6);
</script>
For if fraud is high! -->

</body>
</html>
